.navbar {
  background-color: gray; }
  .navbar .navbar-brand {
    color: white; }

.col-md-4 {
  background-color: lightblue;
  height: 500px;
  overflow: scroll; }

.col-md-8 {
  background-color: pink; }

.friend-area {
  background-color: lightgreen;
  height: 500px; }
